<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="IntellectOPK.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="IntellectOPK.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <IntellectOPK.Properties.Settings>
            <setting name="Login" serializeAs="String">
                <value />
            </setting>
            <setting name="AlarmSoundFile" serializeAs="String">
                <value />
            </setting>
            <setting name="IsSoundDisabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IsAlarmVoiceEngineUsed" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="VoiceEngineName" serializeAs="String">
                <value />
            </setting>
            <setting name="VoiceRate" serializeAs="String">
                <value>0</value>
            </setting>
        </IntellectOPK.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup><applicationSettings>
        <IntellectOPK.Properties.Settings>
            <setting name="SqlServerName" serializeAs="String">
                <value>DOM2VIDEOSRV7\DW</value>
            </setting>
            <setting name="DataBaseName" serializeAs="String">
                <value>IntellectDW</value>
            </setting>
            <setting name="IntellectInstallDir" serializeAs="String">
                <value>C:\Program Files (x86)\Интеллект</value>
            </setting>
            <setting name="RowsCountLimit" serializeAs="String">
                <value>100000</value>
            </setting>
        </IntellectOPK.Properties.Settings>
    </applicationSettings>
</configuration>
